version: "3"

services:
  db:
    image: postgres:14.3
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: shopdb
      POSTGRES_PASSWORD: 123456
    container_name: shopcontainer
    volumes:
      - ./postgres:/var/lib/postgresql/data
